/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color:#555;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    opacity: 0.75;
}

a:hover {
    opacity: 1;
}
/* END OF GENERAL STYLES */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    /* flex-direction: column;
    height: 100vh;
    background-image: url("../img/main.jpg");
    background-size: cover;
    color: #fff;
    font-size: 45px; */
}

header h2 {
    margin-top: 18px;
    animation: fadeIn 2s ease-in 0.2s 1 forwards;
}



/*
header section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 80%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    flex: 1 1 20%;
} */


/* nav li {
    padding: 10px;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    color: #fff;
    animation: fadeIn 2s ease-in 0.2s 1 forwards;
}


.position {
    animation: fadeIn2 2s ease-in 0.2s 1 forwards;
}

.position h2 {
    text-align: center;
    animation: fadeIn 2s ease-in 0.2s 1 forwards, fadeIn2 2s ease-in 2s forwards;
}

.position h5 {
    animation: fadeIn 2s ease-in 0.2s 1 forwards;
}

.position p {
    display: flex;
    justify-content: center;
    animation: fadeIn 2s ease-in 0.2s 1 forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity:1
    }
}

@keyframes fadeIn2 {
    0% {
        transform: translate(-100px, -100px); 
    }

    100% {
        transform: translate(0, 0); 
    }
} */
